@use 'variables' as abstract;
@use 'mixins' as *;

/**********************************
 * Dashboard view styles
**********************************/

.dashboard {
    &-section {
        // overflow: hidden;
        display: flex;
        height: 100%;
        position: relative;
        &:before {
            content: "";
            position: fixed;
            top: 0;
            left: 0;
            width: 400px;
            height: 310px;
            background-image: url("../../../assets/img/dashboard-view-shape.png");
            background-size: 100% 100%;
            background-position: top left;
            background-repeat: no-repeat;
            z-index: -1;
        }
        @include respond-to(medium) {
            padding-left: var(--side-nav-width);
        }
        @include respond-to(large) {
            &:before {
                width: 575px;
                height: 390px;
            }
        }
    }
    &-body {
        flex: 1;
        -ms-flex: 1;
        width: 100%;
        @include padding(65,
        15,
        20,
        15);
        @include respond-to(small) {
            @include padding(60,
            null,
            null,
            null);
            // flex: 0 0 auto;
            // width: calc(100% - var(--history-panel-width) + 25px);
        }
        @include respond-to(medium) {
            @include padding(15,
            30,
            null,
            30);
            // flex: 0 0 auto;
            // width: calc(100% - var(--history-panel-width) + 25px);
        }
        @include respond-to(large) {
            @include padding(20,
            null,
            null,
            null);
            // flex: 0 0 auto;
            // width: calc(100% - var(--history-panel-width) + 25px);
        }
    }
}
