<div class="dashboard-page__header s-margin-bottom">
    <div class="dashboard-basic__info">
        <h3>Device Page</h3>
        <p>Get all of your conencted devices</p>
    </div>
    <!-- <button class="main-btn d-block d-lg-none" (click)="openEventForm()">Open Event Form</button> -->
    <!-- <button class="main-btn" (click)="openUploadModal()">Add New Package</button> -->
</div>
<div class="s-margin-bottom"></div>
<!-- <div class="dashboard-box">
    <div class="dashboard-box__header">
        <div class="dashboard-box__header--title">
            <h3>Business Lists</h3>
            <p>Lorem ipsum dolor sit amet consectetur </p>
        </div>
        <div class="dashboard-box__header--buttons">
        </div>
    </div>
    <div class="dashboard-box__body">
        <div class="dashboard-table">
            <table>
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Date <i class="flaticon-information-button" nzTooltipTitle="Business created date" nzTooltipPlacement="topLeft" nz-tooltip></i></th>
                        <th>Pin</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody *ngIf="isLoading">
                    <tr>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                    </tr>
                    <tr>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                        <td><span class="table-shimmer shimmer-animation"></span></td>
                    </tr>
                </tbody>
                <tbody *ngIf="!isLoading">
                    <tr *ngFor="let business of businessList.data | slice:(page - 1) * pageSize : (page - 1) * pageSize + pageSize">
                        <td>{{business.business_id}}</td>
                        <td>{{business.business_name}}</td>
                        <td>{{business.created_at}}</td>
                        <td>{{business.pin}}</td>
                        <td>
                            <div class="dashboard-table__buttons">
                                <button class="main-btn" [routerLink]="['/dashboard/business/business-details', business.business_id]">Show Devices</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <ng-container *ngIf="businessList.data.length > 10">
            <nz-pagination [(nzPageIndex)]="page" [nzTotal]="businessList.data.length" [(nzPageSize)]="pageSize" (nzPageIndexChange)="pageIndexChange($event)" (nzPageSizeChange)="pageSizeChange($event)" [nzItemRender]="prev" [nzShowTotal]="rangeTemplate" [nzHideOnSinglePage]="true"></nz-pagination>
            <ng-template #prev let-type let-page="page">
                <ng-container [ngSwitch]="type">
                    <ng-container *ngSwitchCase="'prev'"><i class="flaticon-back"></i></ng-container>
                    <ng-container *ngSwitchCase="'page'">{{ page }}</ng-container>
                    <ng-container *ngSwitchCase="'prev_5'">...</ng-container>
                    <ng-container *ngSwitchCase="'next_5'">...</ng-container>
                    <ng-container *ngSwitchCase="'next'"><i class="flaticon-next"></i></ng-container>
                </ng-container>
            </ng-template>
            <ng-template #rangeTemplate let-range="range" let-total>
                {{ range[0] }}-{{ range[1] }} of {{ total }} items
            </ng-template>
        </ng-container>
    </div>
</div> -->
<div class="dashboard-box">
    <div class="dashboard-box__header">
        <div class="dashboard-box__header--title">
            <h3>Device Lists</h3>
            <p>Lorem ipsum dolor sit amet consectetur </p>
        </div>
        <!-- <div class="dashboard-box__header--buttons">
            <button class="main-btn">Create Package</button>
            <button class="main-btn" (click)="openPathValidationModal()">Check Paths</button>
        </div> -->
    </div>
    <ng-container *ngIf="isLoading">
        <div class="device-shimmer">
            <div class="shimmer-animation device-shimmer__text"></div>
            <div class="shimmer-animation device-shimmer__text"></div>
        </div>
        <div class="device-shimmer">
            <div class="shimmer-animation device-shimmer__text"></div>
            <div class="shimmer-animation device-shimmer__text"></div>
        </div>
    </ng-container>
    <ng-container *ngIf="!isLoading">
        <div class="dashboard-box__body device-item" *ngFor="let item of businessList; let i = index;" [ngClass]="{'device-item__expanded': item.expand}">
            <div class="device-item__info" (click)="togglePackageTable(i, $event)">
                <h3><span [ngClass]="{'is-connected': item.is_connected}"></span> {{item.device_name}}</h3>
                <p>ID: {{item.device_id}}</p>
                <p>Mode: {{item.device_mode | titlecase}}</p>
                <p>Size: {{item.device_size}}</p>
                <p>Type: {{item.device_type | titlecase}}</p>
                <p>Created Date: {{item.created_at | date: 'dd/MM/yyyy'}}</p>
            </div>
            <div class="device-item__products">
                <div class="dashboard-table">
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Path</th>
                                <th>Type</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let package of item?.packages">
                                <td>{{package.package_name}}</td>
                                <td>
                                    <ng-container *ngIf="package.apk_path"><span #packagePath>{{package.apk_path}}</span><button class="main-btn" (click)="copyInput(packagePath, package)">{{package.copy | titlecase}}</button></ng-container>
                                    <ng-container *ngIf="!package.apk_path">No path available for this package</ng-container>
                                </td>
                                <td>{{package.type | titlecase}}</td>
                                <td>
                                    <ng-container *ngIf="package.is_installed">Active</ng-container>
                                    <ng-container *ngIf="!package.is_installed">Deactive</ng-container>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="dashboard-box__body" *ngIf="!businessList.length">
            <div class="dashboard-box__empty">
                <img src="assets/img/empty.png" alt="Empty">
                <p>{{errorMessage}}</p>
            </div>
        </div>
    </ng-container>
</div>

<!--<app-event-form></app-event-form> -->
<!-- </div> -->
