<div class="event-section">
    <div class="dashboard-page__header s-margin-bottom">
        <div class="dashboard-basic__info">
            <h3>Group Page</h3>
            <p>See your created groups</p>
        </div>
        <button class="main-btn d-block d-lg-none" (click)="openEventForm()">Create Group</button>
    </div>
    <div class="s-margin-bottom"></div>
    <app-group-list [newGroup]="newGroup"></app-group-list>

    <app-create-group (createGroupEmitter)="createNewGroup($event)"></app-create-group>
</div>