<div class="group-form" [ngClass]="{'active': isGroupModalMobile}">
    <div class="group-form__title">
        <h3>Create Group</h3>
        <button class="close-icon d-block d-lg-none" (click)="closeEventModalMobile()"><i class="flaticon-close"></i></button>
    </div>
    <div class="group-form__content">
        <form [formGroup]="createGroupForm" (ngSubmit)="handleSubmit()">
            <div class="custom-input">
                <div class="custom-input__label">
                    <label class="custom-input__label">Group Name</label>
                </div>
                <div class="custom-input__group">
                    <div class="custom-input__append"><i class="flaticon-add"></i></div>
                    <input type="text" class="custom-input__field" placeholder="Group name" formControlName="name">
                </div>
                <p *ngIf="createGroupForm.get('name').invalid && (createGroupForm.get('name').dirty || createGroupForm.get('name').touched)" class="custom-input__error">
                    Please enter a name
                </p>
            </div>
            <div class="custom-input">
                <div class="custom-input__label">
                    <label class="custom-input__label">Choose Devices</label>
                </div>
                <nz-select class="custom-input__group group-select" [nzSuffixIcon]="arrowIcon" formControlName="devices" nzPlaceHolder="Select devices" (ngModelChange)="showDevices($event)" [nzNotFoundContent]="noDevices" nzMode="multiple" [nzShowSearch]="false">
                    <nz-option *ngFor="let item of dumyDevices" [nzLabel]="item.device_name" [nzValue]="item"></nz-option>
                </nz-select>
                <ng-template #noDevices>
                    <img src="assets/img/loading.png" alt="Loading" class="loading-icon" *ngIf="deviceResponse === 'waiting'">
                    <img src="assets/img/empty.png" alt="Empty" *ngIf="deviceResponse === 'error'">
                    <p>{{deviceResponseMessage}}</p>
                </ng-template>
                <p *ngIf="createGroupForm.get('devices').invalid && (createGroupForm.get('devices').dirty || createGroupForm.get('devices').touched)" class="custom-input__error">
                    Please select devices
                </p>
            </div>
            <ng-template #arrowIcon>
                <i class="flaticon-down-arrow"></i>
            </ng-template>
        </form>
        <button class="main-btn" (click)="handleSubmit()" [disabled]="createGroupForm.invalid">Submit</button>
    </div>
</div>
