@use '../abstracts/index' as abstract;

/**************************************
* All overrides scss goes here
**************************************/


/*------------------------------------------------------------------
[ International phone number ]*/

.international-phone__input {
    flex: 0 0 auto;
    width: 100%;
    .dropbtn {
        @include abstract.padding(0, 0, 0, 0);
        background-color: transparent !important;
        color: var(--text-color) !important;
        line-height: 1;
        position: relative;
        width: 32px;
        display: flex;
        &:after {
            content: "\f106";
            font-family: Flaticon;
            position: absolute;
            line-height: 1;
            font-size: 1em;
            right: -3px;
            top: -2px;
        }
        .arrow-down {
            display: none;
        }
    }
    #dial-code {
        padding-top: 0 !important;
        @include abstract.font-size-em(15);
        color: var(--text-color);
        margin-left: 0.75em !important;
        margin-bottom: 0 !important;
    }
    input {
        margin-left: 0.3em !important;
    }
    .dropdown {
        position: inherit !important;
        &-content {
            top: calc(100% + 0.85em);
            left: -1.05em;
            width: calc(100% + 2.1em);
            background-color: var(--theme-bg) !important;
            border-radius: 5px;
            overflow: hidden;
            @include abstract.box-shadow(0, 6, 17, 0.1, rgba(abstract.$grayColor, 0.07), important);
            .scrollable-menu {
                width: 100% !important;
                @include abstract.scrollbar(5px, abstract.$grayColor, transparent);
            }
            a {
                padding: 0.5em 0.7em 0.5em 0.7em !important;
                border: 0;
                @include abstract.font-size-em(14);
                &:not(:first-child) {
                    padding-top: 0 !important;
                }
                .flag {
                    position: relative;
                    top: 1px;
                }
                .country-name {
                    margin-left: 0.6em !important;
                }
            }
        }
    }
}

// International phone number ends here

/*------------------------------------------------------------------
[ Ng zorro ]*/

// Tooltip starts
.ant-tooltip {
    &-placement-topLeft {
        transform: translateX(-12px)
    }
    &-inner {
        @include abstract.font-size-em(14);
        @include abstract.font-weight(500);
        color: var(--theme-bg);
        background-color: var(--text-color);
        @include abstract.padding(8, 10, 8, 10);
        border-radius: 3px;
    }
}

// Tooltip ends
// Upload starts
.ant-upload.ant-upload-drag {
    border: 1px dashed #ddd;
    border-radius: 5px;
    padding: var(--input-btn-padding);
    background-color: rgba(abstract.$primaryColor, 0.03);
    .ant-upload-btn {
        padding: var(--input-btn-padding);
    }
    p.ant-upload-drag-icon {
        background-color: rgba(abstract.$primaryColor, 0.1);
        width: 35px;
        height: 35px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        @include abstract.margin(null, null, 14, null);
        margin-inline: auto;
        i {
            color: abstract.$primaryColor;
            @include abstract.font-size-em(21);
            line-height: 1px;
        }
        @include abstract.respond-to(small) {
            @include abstract.margin(null, null, 17, null);
        }
    }
    p.ant-upload-text {
        @include abstract.margin(null, null, 2, null);
        @include abstract.font-size-em(17);
        @include abstract.font-weight(500);
        @include abstract.respond-to(small) {
            @include abstract.font-size-em(19);
            @include abstract.margin(null, null, 3, null);
        }
    }
    p.ant-upload-hint {
        @include abstract.font-size-em(14);
        color: rgba(#0a1125, 0.5);
        @include abstract.respond-to(small) {
            @include abstract.font-size-em(15);
        }
    }
}

.ant-progress-inner {
    background-color: rgba(abstract.$primaryColor, 0.03);
}

.ant-progress-status-success .ant-progress-text {
    // text-align: right;
    line-height: 1px;
}

.ant-upload.ant-upload-drag {
    background-color: rgba(abstract.$primaryColor, 0.03);
}

.ant-progress-bg {
    background-color: abstract.$primaryColor;
}

.ant-progress-text {
    color: var(--text-color);
    @include abstract.font-size-em(15);
}

.ant-progress-circle .ant-progress-inner {
    width: 120px !important;
    height: 120px !important;
}

.ant-progress-circle {
    @include abstract.margin(null, null, 10, null);
    .ant-progress-text {
        color: var(--text-color);
    }
}

.ant-progress-circle-trail {
    stroke: rgba(abstract.$primaryColor, 0.03);
}

.ant-progress-inner:not(.ant-progress-circle-gradient) .ant-progress-circle-path {
    stroke: abstract.$primaryColor;
}

// Upload ends
// Modal starts
.ant-modal {
    font-size: 0.9375em;
    &-content {
        @include abstract.box-shadow(0, 5, 17, 4, rgba(#0a1125, 0.16), null);
        border-radius: 5px;
        overflow: hidden;
    }
    &-header {
        @include abstract.padding(13, 20, 13, 20);
        border-bottom: 1px solid rgba(abstract.$grayColor, 0.42);
        .ant-modal-title {
            @include abstract.font-size-em(18);
            color: var(--text-color);
        }
    }
    &-close {
        position: absolute;
        top: 8px;
        right: 9px;
        color: var(--text-color);
        transition: color 0.3s linear;
        &:hover {
            color: abstract.$secondaryColor;
        }
        &-x {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 25px;
            height: 27px;
            font-size: 12px;
            line-height: 1;
        }
    }
    &-body {
        @include abstract.padding(13, 20, 13, 20);
        font-size: 1em;
        max-height: 585px;
        @include abstract.scrollbar(5px, abstract.$grayColor, transparent);
        overflow: auto;
    }
    &-footer {
        @include abstract.padding(13, 20, 13, 20);
        border-top: 1px solid rgba(abstract.$grayColor, 0.42);
    }
    &.modal-no__footer {
        .ant-modal-footer {
            display: none;
        }
    }
    &.small-modal {
        max-width: 375px;
        width: 90% !important;
    }
    &.alert-modal {
        .ant-modal-header {
            display: none;
        }
        .ant-modal-body {
            @include abstract.padding(50, 50, 50, 50);
            text-align: center;
            .modal-body {
                i {
                    @include abstract.font-size-em(55);
                    line-height: 1;
                    @include abstract.margin(null, null, 3.5, null);
                    display: block;
                }
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.modal-footer {
    border-top: 0;
    padding: 0;
    border-radius: 0;
    >* {
        margin: 0;
    }
}

// Modal ends
// Select starts
.ant-select.custom-input__group {
    padding: 0;
    @include abstract.font-size-em(15);
    &::placeholder {
        color: abstract.$grayColor;
    }
    &::-moz-placeholder {
        color: abstract.$grayColor;
    }
    &:-ms-input-placeholder {
        color: abstract.$grayColor;
    }
    &::-webkit-input-placeholder {
        color: abstract.$grayColor;
    }
    .ant-select-selector {
        padding: var(--input-btn-padding);
    }
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border: 0;
    border-radius: 0;
    background-color: transparent;
    height: 100%;
    width: 100%;
}

.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector {
    border-color: transparent;
    box-shadow: none;
    border-right-width: 0;
}

.ant-select-arrow {
    color: var(--text-color);
    @include abstract.font-size-em(18);
    right: 14px;
}

.ant-select-single .ant-select-selector .ant-select-selection-item {
    line-height: 20px;
    @include abstract.respond-to(small) {
        line-height: 24px;
    }
}

.select-dropdown {
    .ant-select-dropdown {
        margin: 0;
        border-radius: 5px;
        margin-top: 1px;
    }
}

.ant-select-item {
    @include abstract.padding(5, 15, 5, 15);
    @include abstract.font-size-em(15);
    color: var(--text-color);
}

.ant-select-item-option-active:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    color: abstract.$primaryColor;
}

.ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
    background-color: transparent;
    color: abstract.$primaryColor;
}

.ant-select-single.ant-select-open .ant-select-selection-item {
    color: rgba(#0a1125, 0.5);
}

.ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
    color: abstract.$grayColor;
    line-height: 20px;
    @include abstract.respond-to(small) {
        line-height: 24px;
    }
}

// Select ends
// Pagination starts
.ant-pagination {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    @include abstract.margin(12, null, null, null);
    @include abstract.padding(17, 12, null, 12);
    border-top: 1px solid rgba(abstract.$grayColor, 0.42);
    @include abstract.font-size-em(15);
    li {
        color: var(--text-color);
        @include abstract.font-size-em(14);
        height: auto;
        line-height: 1;
        &:not(.ant-pagination-total-text) {
            display: inline-flex;
            justify-content: center;
            align-items: center;
            border: 0;
            text-align: center;
            width: 25px;
            height: 25px;
            flex: 0 0 auto;
            transition: all 0.3s linear;
            &:hover {
                background-color: rgba(abstract.$primaryColor, 0.07);
                border-radius: 3px
            }
            &.ant-pagination-item {
                min-width: 20px;
                @include abstract.margin(null, 5, null, null);
                &-active {
                    background-color: abstract.$primaryColor;
                    color: var(--theme-bg);
                    &:hover {
                        background-color: abstract.$primaryColor;
                        color: var(--theme-bg);
                    }
                }
            }
        }
        &:nth-last-child(2) {
            margin-right: 0 !important;
        }
    }
    &-prev {
        min-width: 25px;
        @include abstract.margin(null, 8, null, null);
        i {
            @include abstract.font-size-em(20);
            line-height: 1px;
        }
    }
    &-next {
        min-width: 25px;
        @include abstract.margin(null, null, null, 8);
        i {
            @include abstract.font-size-em(20);
            line-height: 1px;
            position: relative;
            top: 1px;
        }
    }
    &-jump-prev {
        min-width: 25px;
        @include abstract.margin(null, 8, null, null);
    }
    &-jump-next {
        min-width: 25px;
        @include abstract.margin(null, 8, null, null);
    }
    &-total-text {
        margin-right: auto;
        @include abstract.padding(null, 10, null, null);
        height: auto;
    }
    &-disabled {
        opacity: 0.5;
        &:hover {
            background-color: transparent !important;
        }
    }
}

// Pagination ends
// Select starts
.ant-dropdown {
    background-color: var(--theme-bg);
    @include abstract.box-shadow(0, 5, 17, 4, rgba(#0a1125, 0.03), null);
    border-radius: 5px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    @include abstract.padding(5, null, 5, null);
    ul {
        li {
            list-style: none;
            @include abstract.padding(8, 15, 8, 15);
            &:not(:first-child) {
                padding-top: 0;
            }
        }
    }
}

// Select ends
// Ng zorro ends here
