@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?7e9630a2247ac64528efd72d69acbd76") format("truetype"),
url("./flaticon.woff?7e9630a2247ac64528efd72d69acbd76") format("woff"),
url("./flaticon.woff2?7e9630a2247ac64528efd72d69acbd76") format("woff2"),
url("./flaticon.eot?7e9630a2247ac64528efd72d69acbd76#iefix") format("embedded-opentype"),
url("./flaticon.svg?7e9630a2247ac64528efd72d69acbd76#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-envelope:before {
    content: "\f101";
}
.flaticon-padlock:before {
    content: "\f102";
}
.flaticon-right-arrows:before {
    content: "\f103";
}
.flaticon-next:before {
    content: "\f104";
}
.flaticon-back:before {
    content: "\f105";
}
.flaticon-down-arrow:before {
    content: "\f106";
}
.flaticon-chevron:before {
    content: "\f107";
}
.flaticon-up-arrow:before {
    content: "\f108";
}
.flaticon-back-arrow:before {
    content: "\f109";
}
.flaticon-redo:before {
    content: "\f10a";
}
.flaticon-show:before {
    content: "\f10b";
}
.flaticon-hide:before {
    content: "\f10c";
}
.flaticon-maximize:before {
    content: "\f10d";
}
.flaticon-menu:before {
    content: "\f10e";
}
.flaticon-logout:before {
    content: "\f10f";
}
.flaticon-telephone:before {
    content: "\f110";
}
.flaticon-pen:before {
    content: "\f111";
}
.flaticon-layout:before {
    content: "\f112";
}
.flaticon-info:before {
    content: "\f113";
}
.flaticon-information-button:before {
    content: "\f114";
}
.flaticon-copy:before {
    content: "\f115";
}
.flaticon-attachment:before {
    content: "\f116";
}
.flaticon-trash:before {
    content: "\f117";
}
.flaticon-close:before {
    content: "\f118";
}
.flaticon-add:before {
    content: "\f119";
}
.flaticon-check:before {
    content: "\f11a";
}
.flaticon-record:before {
    content: "\f11b";
}
.flaticon-cloud-upload:before {
    content: "\f11c";
}
.flaticon-verified:before {
    content: "\f11d";
}
.flaticon-close-circular-button-symbol:before {
    content: "\f11e";
}
