@use 'variables' as abstract;
@use 'mixins' as *;

/**********************************
 * Business details page styles
**********************************/

.device {
    &-item {
        &:not(:last-child) {
            @include margin(0, 0, 25, 0);
        }
        &__info {
            position: relative;
            display: flex;
            justify-content: space-between;
            &--action {
                display: inline-flex;
                height: 100%;
                li {
                    list-style: none;
                    @include margin(null, null, null, 10);
                    cursor: pointer;
                    @include font-size-em(15);
                    i {
                        line-height: 1px;
                        display: inline-block;
                        transition: all 0.3s linear;
                        &:hover {
                            color: abstract.$secondaryColor;
                        }
                    }
                    &.device-item__expand {
                        i {
                            transition: all 0.3s ease;
                            &:hover {
                                color: abstract.$primaryColor;
                            }
                        }
                    }
                }
            }
            h3 {
                @include font-size-em(16);
                pointer-events: none;
                span {
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background-color: abstract.$danger;
                    display: inline-block;
                    line-height: 1;
                    margin-right: 2px;
                    position: relative;
                    top: -2px;
                    &.is-connected {
                        background-color: abstract.$success;
                    }
                }
                @include respond-to(small) {
                    span {
                        width: 7px;
                        height: 7px;
                    }
                }
            }
            p {
                @include font-size-em(14);
                pointer-events: none;
            }
        }
        &__products {
            height: 0;
            transition: all 0.3s ease, opacity 0.2s ease;
            overflow: hidden;
            .dashboard-table {
                @include margin(12, null, null, null);
                border-top: 1px solid rgba(abstract.$grayColor, 0.42);
                @include padding(10, null, 0, null);
                tbody {
                    td {
                        span {
                            width: 5px;
                            height: 5px;
                            border-radius: 50%;
                            background-color: abstract.$danger;
                            display: inline-block;
                            line-height: 1;
                            margin-right: 6px;
                            position: relative;
                            top: -2px;
                            &.is-connected {
                                background-color: abstract.$success;
                            }
                        }
                    }
                }
            }
        }
        &__expanded {
            .device-item {
                &__info {
                    &--action {
                        li.device-item__expand {
                            i {
                                transform: rotate(180deg);
                            }
                        }
                    }
                }
            }
        }
    }
    &-shimmer {
        @include padding(15, 18, 15, 18);
        @include box-shadow(0, 5, 17, 4, rgba(abstract.$grayColor, 0.16), null);
        border-radius: 5px;
        background-color: var(--theme-bg);
        &__text {
            height: 17px;
            border-radius: 3px;
            width: 200px;
            max-width: 200px;
            &:not(:last-child) {
                @include margin(null, null, 7, null);
            }
            @include respond-to(small) {
                height: 20px;
            }
        }
        &:not(:last-child) {
            @include margin(null, null, 25, null);
        }
    }
}