@use '../abstracts/index' as abstract;

/********************************************
 * Dashboard box styles
 ********************************************/

.dashboard {
    &-table {
        overflow: hidden;
        overflow-x: auto;
        @include abstract.padding(null, null, 15, null);
        @include abstract.margin(null, null, -15, null);
        @include abstract.scrollbar(8px, transparent, transparent);
        &:hover {
            @include abstract.scrollbar(8px, abstract.$grayColor, transparent);
        }
        table {
            width: 100%;
            th {
                @include abstract.font(600, normal);
                @include abstract.font-size-em(14);
                border-bottom: 1px solid rgba(abstract.$grayColor, 0.42);
                @include abstract.padding(null, 12, 12, 12);
                i {
                    vertical-align: middle;
                    @include abstract.font-size-em(17);
                    line-height: 1;
                    @include abstract.margin(null, null, null, 4);
                    color: abstract.$primaryColor;
                }
            }
            td {
                @include abstract.font(400, normal);
                @include abstract.font-size-em(14);
                border-bottom: 1px solid rgba(abstract.$grayColor, 0.42);
                @include abstract.padding(12, 12, 12, 12);
                white-space: nowrap;
                line-height: 1;
                .main-btn {
                    height: auto;
                    width: auto;
                    min-width: 0;
                    border-radius: 3px;
                    @include abstract.padding(7, 8, 7, 8);
                    @include abstract.font-size-em(12);
                    @include abstract.margin(null, null, null, 10);
                }
                .table-shimmer {
                    width: 150px;
                    height: 20px;
                    border-radius: 3px;
                    display: inline-block;
                }
            }
            tbody {
                tr {
                    &:last-child {
                        td {
                            @include abstract.padding(12, 12, 0, 12);
                            border-bottom: 0;
                        }
                    }
                }
            }
            .dashboard-table__buttons {
                display: inline-flex;
                .main-btn {
                    @include abstract.padding(10, 12, 10, 12);
                    @include abstract.margin(null, null, null, 0);
                    @include abstract.font-size-em(14);
                    &:not(:last-child) {
                        @include abstract.margin(null, 10, null, null);
                    }
                }
            }
        }
    }
}