@use 'index' as abstract;
.authentication {
    &-section {
        min-height: 100%;
        position: relative;
        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background-color: abstract.$primaryColor;
        }
    }
    &-banner {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        position: fixed;
        img {
            max-width: 450px;
        }
    }
    &-content {
        padding: 100px;
        text-align: center;
        &>img {
            max-width: 85px;
            margin-bottom: 1.6em;
        }
    }
}
