<!-- Authentication section starts -->
<section class="authentication-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 position-relative authentication-fixed">
                <div class="authentication-banner" [ngStyle]="{width: fixedWidth+'px', left: fixedLeft+'px'}">
                    <img src="assets/img/authentication/login.png" alt="Login">
                </div>
            </div>
            <div class="col-md-6">
                <div class="authentication-content">
                    <img src="assets/img/authentication/logo.png" alt="Logo">
                    <h2>Sign In</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc arcu nisl, facilisis lacinia dignissim at</p>
                    <form>
                        <div class="custom-input">
                            <label for="" class="custom-input__label">Email</label>
                            <div class="custom-input__group">
                                <div class="custom-input__append">8</div>
                                <input type="text" class="custom-input__field" placeholder="Email">
                                <div class="custom-input__prepend">8</div>
                            </div>
                        </div>
                        <button class="main-btn">Continue</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Authentication section ends -->
