<div class="event-section">
    <div class="dashboard-page__header s-margin-bottom">
        <div class="dashboard-basic__info">
            <h3>Event Page</h3>
            <p>Send event to business</p>
        </div>
        <button class="main-btn d-block d-lg-none" (click)="openEventForm()">Open Event Form</button>
        <!-- <button class="main-btn" (click)="openUploadModal()">Add New Package</button> -->
    </div>
    <div class="s-margin-bottom"></div>
    <app-event-history></app-event-history>

    <app-event-form></app-event-form>
</div>